<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description"
        content="Objets domestiques et décoratifs artisanale en céramique faits à la main dans mon atelier en bourgogne." />
    <meta name="author" content="Atelier Crémazie" />
    <title>Atelier Crémazie {{title_extra}} - Céramique - Art de la table - Objets décoratifs</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />


    <script src="js/initializer.js"></script>
</head>

<body id="page-top" data-spy="scroll" data-target="#mainNav">

    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="/#page-top">
                {{!-- <img class="masthead-avatar mb-5" src="assets/img/bol.png" height="30" alt="..." /> --}}
                Atelier Crémazie
            </a>
            <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto" role="tablist">
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/#boutique">Boutique</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded" href="point-de-vente#pos">Points de vente</a>
                    </li>
                    {{!-- <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded" href="cgv">Mentions légales et CGV</a>
                    </li> --}}
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#collections">Collections</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Masthead-->
    <header class="masthead text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Avatar Image-->
            {{!-- <img class="mb-5" src="assets/img/logo.png" alt="..." /> --}}
            <!-- Masthead Heading-->
            {{!-- <h1 class="masthead-heading mb-0">
                Atelier Crémazie
            </h1> --}}
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <p class="masthead-subheading font-weight-light mb-0">
                Le site web est en cours de création, il se peut qu'il y ait des modifications dans les prochains jours
            </p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">Céramique - Art de la table - Objets décoratifs</p>
        </div>
    </header>


    {{{body}}}




    <!-- emaux & terre Section-->
    <section class="page-section bg-primary text-white mb-0" id="collections">
        <div class="container">
            <!-- About Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-white">Collections</h2>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content-->
            <div class="row">
                <div class="col-lg-4 ms-auto">
                    <p class="lead">
                        <img src="assets/photos_collection/gres-saint-amand.jpg" class="photo_clt" />
                    </p>
                </div>
                <div class="col-lg-4 me-auto">
                    <p class="">
                        <strong class="colect-title">GSA T40 - Grès de Saint-Amand-en-Puisaye</strong>
                        <br><br>
                        La terre naturelle à Grès de St. Amand en Puisaye, le grès du Potier ! est une terre historique
                        dans la région de Saint Amand en Puisaye (dans le Morvan). C'est une terre utilisée par de
                        nombreux potiers depuis 1898. Elle est très carractérisée par ces nuances de
                        couleurs pendant tout le processus de création d'objets céramique. Passant du gris foncé quand
                        elle est chargée en eau puis orange/rose à la première cuisson et termine beige à sa cuisson
                        finale. Il s'agit de ma terre favorite pour son côté historique et son beige assez carractéristique.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 ms-auto">
                    <p class="">
                        <strong>J300-2 - Grès rouge de Bourgogne</strong>
                        <br><br>
                        La terre à grès rouge de Bourgogne est une terre chamottée, cela veut dire qu'elle contient des
                        grains de terre cuite.
                        Cela permet de gagner en resistance sur le produit fini, mais aussi de facilité la création
                        d'objets plus complexes.
                        La chamotte dans la terre donne aussi du carractère sur le rendu final.
                    </p>
                </div>
                <div class="col-lg-4 me-auto">
                    <p class="lead">
                        <img src="assets/photos_collection/gres-rouge-bourgogne.jpg" class="photo_clt" />
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section-->
    <section class="page-section" id="contact">
        <div class="container">
            <!-- Contact Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contactez moi</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Contact Section Form-->
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-7">
                    <form action="/api/contact/envoyermessage" method="POST" id="frmContact">
                        <div class="form-floating">
                            <input class="form-control" id="inputName" type="text" placeholder="Entrez votre nom ..."
                                required>
                            <label for="inputName">Nom / Prénom</label>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="inputEmail" type="email"
                                placeholder="Entrez votre email ..." required>
                            <label for="inputEmail">Address email</label>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="inputPhone" type="tel"
                                placeholder="Entrez votre numéro de téléphone ..." />
                            <label for="inputPhone">Numéro de téléphone</label>
                        </div>
                        <div class="form-floating">
                            <textarea class="form-control" id="inputMessage" placeholder="Entrez votre message ici ..."
                                style="height: 12rem" required></textarea>
                            <label for="inputMessage">Message</label>
                        </div>
                        <br />
                        <button class="btn btn-primary btn-xl" type="submit">Envoyer</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer-->
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <!-- Footer Location-->
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Localisation</h4>
                    <p class="lead mb-0">
                        Bourgogne, France
                    </p>
                </div>
                <!-- Footer Social Icons-->
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Mes réseaux sociaux</h4>
                    <a class="btn btn-outline-light btn-social mx-1" target="_blank"
                        href="https://www.facebook.com/atelier.cremazie">
                        <i class="fab fa-fw fa-facebook-f"></i>
                    </a>
                    <a class="btn btn-outline-light btn-social mx-1" target="_blank"
                        href="https://www.instagram.com/atelier.cremazie/">
                        <i class="fab fa-fw fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <!-- Copyright Section -->
    <div class="copyright py-4 text-center text-white">
        <div class="container">
            <small>Copyright &copy; Atelier Crémazie 2021</small>
            -
            <a href="cgv">
                <small>Mentions légales et Conditions générales de vente</small>
            </a>
            -
            <a href="tracabilite">
                <small>Tracabilité</small>
            </a>
        </div>
    </div>

    <!-- Bootstrap core JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>

    <script type="text/javascript" src="js/jquery.bootstrap-growl.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

    {{{block "pageScripts"}}}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E7NGY1D89M"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-E7NGY1D89M');
    </script>
</body>

</html>