<!-- Boutique Section-->
<section class="page-section" id="pos">
    <div class="container">

        <h1 class="text-center text-secondary mb-0">Mentions légales et Conditions générales de vente</h1>

        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Boutique Sandrine-->
        <div>
            <h4>Mentions légales</h4>

            <p>
                Le site internet www.ateier-cremazie.com est édité par Aurélien Cretaine sous le nom commercial Atelier
                Crémazie.<br>
                Entreprise immatriculée au Répertoire des Entreprises et des Etablissements (identifiant SIREN ***) et
                inscrite à la Chambre des métiers de l’artisanat de la côte-d'Or.
            </p>


            <h4>Conditions générales de vente</h4>

            <div class="custom-page-content">
                <p>
                    <b> Mentions légales</b>
                </p>
                <p>
                    Le site internet www.atelier-cremazie.com est édité par Aurélien Cretaine sous le nom commercial
                    Atelier Cémazie.<br>
                    Entreprise immatriculée au Répertoire des Entreprises et des Etablissements (identifiant SIREN ***)
                    et inscrite à la Chambre des métiers de l’artisanat de la Côte-d'Or.
                </p>

                <p>
                    <b style="font-family: inherit; font-size: inherit; font-style: inherit;">
                        Conditions générales de vente
                    </b>
                </p>
                <p>
                    Les présentes conditions générales de vente et d’utilisation sont conclues d’une part par
                    l’entreprise, dénommée ci-après « le vendeur » ou « l’entreprise » : <br>
                    Aurélien Cretaine - Atelier Cémazie <br>
                    immatriculée sous le numéro SIRET ***<br>
                    représentée par Aurélien Cretaine en qualité de gérant, dûment habilitée aux fins des présentes.<br>
                    L’entreprise peut être contactée par courriel via le formulaire nommé « contact » présent en haut du
                    site ou à l'adresse e-mail : atelier.cremazie@gmail.com .
                </p>
                <p>
                    Et, d’autre part, toute personne physique ou morale souhaitant procéder à l’achat de produits ou
                    services sur www.atelier-cremazie.com ; dénommée ci-après « le client » ou « l’acheteur ».
                </p>
                <p>
                    <b>Article 1_ Objet et dispositions générales</b>
                </p>
                <p>
                    Les présentes conditions générales de vente et d’utilisation régissent les droits et obligations qui
                    lient l’entreprise Atelier Cémazie et ses clients dans le cadre des ventes en ligne de produits ou
                    services sur le site www.atelier-cremazie.com. En effectuant un achat sur www.atelier-cremazie.com, le
                    client déclare donc avoir pris connaissance de l’ensemble des présentes conditions générales de
                    vente et, le cas échéant, des conditions particulières de vente mentionnées dans le descriptif d’un
                    produit ou service présent sur le site.
                </p>
                <p>
                    Tout acte d’achat vaut donc pour acceptation entière et totale de ces conditions générales de vente.
                    L’entreprise se réserve le droit de modifier à tout moment ses CGV en publiant une nouvelle version
                    sur le présent site internet. Les conditions générales de vente applicables pour le client sont
                    alors celles en vigueur à la date d’achat.
                </p>
                <p>
                    <b>Article 2_ Produits</b>
                </p>
                <p>
                    Sont vendus sur le site www.atelier-cremazie.com, les produits ou services proposés par Atelier
                    Crémazie
                    : objets en céramique à usage domestique ou ornemental.
                    Pour chaque article, les propriétés essentielles ou particularités des biens, services
                    et leurs prix sont mis à disposition de l’acheteur par le biais d’un descriptif et de photos. Il
                    appartient à l’acheteur d’en prendre connaissance avant tout acte d’achat et, par la suite, de faire
                    usage des articles selon les précautions d’usage et d’entretien préconisés.
                </p>
                <p>
                    Il est également à noter que les articles mis en vente sur le présent site sont tous issus d’une
                    fabrication entièrement artisanale. Ainsi, nonobstant tout le soin apporté à chaque article, il peut
                    exister de légères variations de taille ou de couleur d’un article à l’autre, essence même d’un
                    processus intégralement fait-main. Chaque article étant unique, il est convenu que les
                    photographies, descriptifs ou dimensions présents sur le site sont donnés à titre indicatif et n’ont
                    aucune valeur contractuelle. La responsabilité du vendeur ne saurait donc être engagée les
                    concernant.
                </p>
                <p>
                    <b>Article 3_ Prix</b>
                </p>
                <p>
                    Le prix des produits et services vendus sur le site sont présentés en euros et toutes taxes
                    comprises
                    puisque l’entreprise n’est pas assujettie à la TVA conformément à l’article 293B du Code Général des
                    Impôts. Aux prix des produits, spécifiés dans le descriptif de chaque article, s’ajoutent des frais
                    de port avant la validation du panier d’achat. Le montant des frais d’expédition est prévu à
                    l’avance en fonction des frais d’emballage, du poids des articles en céramique commandés et de la
                    grille tarifaire correspondant du service Colissimo de La Poste en vigueur à la date d’achat.<br>
                    L’entreprise se réserve le droit de modifier ses prix à tout moment et sans préavis.
                </p>
                <p>
                    <b>Article 4_ Conditions de livraison</b>
                </p>
                <p>
                    L’entreprise expédie votre commande en France à l’adresse indiquée lors de la commande. Le client
                    s’engage à transmettre, lors de la commande, les informations exactes et nécessaires à l’expédition
                    de sa commande : nom, adresse postale complète, adresse e-mail et numéro de téléphone afin d’être
                    joint par le vendeur ou les services de livraison si nécessaire. Il appartient au client de vérifier
                    l’exactitude des informations transmises lors de la commande et, en cas d’erreur, d’en informer
                    immédiatement le vendeur via le formulaire de contact.<br>
                    Les commandes sont postées au maximum dans la semaine qui suit la vente, cette période de
                    préparation étant suivie des 2 à 4 jours d’expédition (délais indicatifs de La Poste). A titre
                    indicatif : les livraisons sont en général assurées sous 7 jours ouvrés entre la date de la commande
                    et la date de livraison. Ce délai ne saurait être garanti par l’entreprise et un retard raisonnable
                    dans la livraison des produits ne saurait donner lieu au versement de dommages et intérêts ou à
                    l’annulation de la commande.<br>
                    Il est également possible pour le client le désirant, de venir chercher sa commande dans l’atelier
                    de fabrication Atelier Cémazie à Varanges (21110). Aucun frais de livraison ne s’appliqueront dans
                    ce cas et l’annulation des frais de port sera calculée automatiquement en entrant le code ATELIER
                    juste après la première validation du panier. Le vendeur contactera alors le client par voie de mail
                    afin de convenir d’un rendez-vous pour le retrait de la commande. <br>
                    Les livraisons s’effectuent en France métropolitaine selon les présentes conditions mais il est
                    possible de me contacter via le formulaire de contact afin d’obtenir un devis personnalisé pour une
                    livraison hors de cette zone. Dans ce cas, des droits de douane ou autres taxes locales ou d’état ou
                    droits d’importation sont susceptibles d’être exigibles. Ces droits et sommes ne relèvent pas de la
                    responsabilité du vendeur mais sont entièrement à la charge de l’acheteur qui est invité à se
                    renseigner auprès des autorités locales correspondantes du pays de destination.
                </p>
                <p>
                    <b> Article 5_ Réception des produits</b>
                </p>
                <p>
                    L’entreprise s’engage à protéger les articles expédiés afin de leur assurer un voyage serein. Si,
                    malheureusement, des dommages étaient intervenus lors du transport, il appartient au client de
                    vérifier l’état des produits lors de la réception de sa commande et d’en informer au plus vite le
                    vendeur. Le client s’engage alors à fournir au vendeur des photos des pièces endommagées ainsi que
                    de l'emballage et à
                    effectuer un recours auprès du transporteur dans un délai de 3 jours à compter de la date de
                    livraison.
                </p>
                <p>
                    <b> Article 6_ Délai de rétractation</b>
                </p>
                <p>
                    Conformément aux dispositions prévues par l’article L .221-5 du Code de la consommation, le client
                    dispose d’un droit de rétractation valable dans un délai de 14 jours à compter de la date de
                    livraison de sa commande. Ce droit de rétractation peut être exercé en contactant l’entreprise via
                    le formulaire de contact présent sur le site et donne droit à l’acheteur à l’obtention d’un avoir ou
                    d’un remboursement selon le choix de ce dernier. L’acheteur sera alors notifié par mail dès
                    réception par le vendeur du colis retourné et obtiendra le remboursement des articles sous 30 jours
                    à compter de cette date ou d’un avoir utilisable immédiatement et sans limitation de durée sur la
                    boutique en ligne. Sont exclus du remboursement, les frais de retour des produits qui sont à la
                    charge de l’acheteur. L’acheteur s’engage à retourner les articles dans leur parfait état d’origine
                    et complets, il lui appartient alors d’assurer l’emballage et la protection des articles retournés.
                </p>
                <p>
                    Conformément aux dispositions prévues dans les articles L.221-18 à L.221-28 du Code de la
                    consommation, ce droit de rétractation ne s’applique pas si les articles portent la marque d’une
                    utilisation les rendant impropres à la vente d’un produit neuf ou si les articles résultent d’une
                    commande réalisée sur mesure.
                </p>
                <p>
                    <b> Article 7_ Paiement</b>
                </p>
                <p>
                    Pour tout acte d’achat sur le site, l’intégralité du paiement est exigible immédiatement à la
                    commande. Tous les paiements réalisés par carte bancaire via le site www.atelier-cremazie.com sont
                    pris en charge par le système de paiement sécurisé Stripe. Toutes les informations transmises par le
                    client lors de sa commande sont strictement confidentielles et réservées au bon acheminement de
                    celle-ci. En effectuant l’acte d’achat, le client assure qu’il est le titulaire légal de la carte à
                    débiter et qu’il est légalement en droit d’en faire usage. Le vendeur demeure propriétaire de la
                    marchandise jusqu’à son paiement intégral. Le présent site étant réalisé avec Shopify,
                    cette société fournit un cryptage SSL pour la sécurisation des informations clients et des
                    informations bancaires.
                </p>
                <p>
                    Le client peut également contacter le vendeur via le formulaire de contact pour réserver des
                    articles présents sur la boutique en ligne et effectuer un paiement physique lors du retrait de sa
                    commande à l’atelier, à Varanges ou dans un point de vente. Il lui sera alors proposé les moyens de
                    paiement suivants :
                    espèces ou paiement sécurisé par carte bancaire.
                </p>
                <p>
                    <b> Article 8_ Disponibilité</b>
                </p>
                <p>
                    Tous les produits présentés sur le présent site sont déjà fabriqués et disponibles immédiatement
                    sauf mention contraire sur la fiche de l’article pour un produit en pré-commande (le délai de
                    fabrication
                    est alors indiqué). Il est possible que la quantité demandée soit trop élevé, dans ce cas un message
                    d'avertissement vous en informera lors du passage à la caisse.
                    Si l’article désiré est indisponible ou en stock insuffisant ou que le client
                    souhaite passer une commande personnalisée, il est invité à contacter le vendeur via le formulaire
                    de contact qui pourra alors lui indiquer la faisabilité de la demande et un délai indicatif à la
                    fabrication de la commande.<br>
                    L’indisponibilité temporaire ou définitive d’un article ne saurait engager la responsabilité du
                    vendeur ou ouvrir le droit à une possibilité d’indemnisation ou de dommages et intérêts en faveur du
                    client.
                </p>
                <p>
                    <b> Article 9_ Responsabilité</b>
                </p>
                <p>
                    Les obligations décrites dans les présentes Conditions générales de vente et la responsabilité de
                    l’entreprise ne sauraient être mises en œuvre si le manquement de l’entreprise découle d’un cas de
                    force majeure. S’entend, à ce titre, conformément à l’article 1148 du Code Civil, tout évènement
                    extérieur imprévisible et irrésistible. <br>
                    La responsabilité du vendeur ne pourra également pas être retenue dans le cas de perturbation ou de
                    grève des services postaux.<br>
                    Dans tout les cas, le vendeur s’engage à aviser le client dès que possible de tout évènement pouvant
                    perturber les termes normaux du présent contrat.
                </p>
                <p>
                    <b> Article 10_ Droits de propriété intellectuelle</b>
                </p>
                <p>
                    Tous les éléments présentés sur www.atelier-cremazie.com, comprenant nom de domaine, marque, images,
                    produits, textes ou toute information objet de droits de propriété intellectuelle sont et restent la
                    propriété exclusive de M Cretain Aurélien. Toute utilisation ou reproduction totale ou partielle de
                    ces biens est strictement interdite sauf accordée expressément et par écrit par M Cretaine Aurélien.
                </p>
                <p>
                    <b>Article 11_ Protection des données personnelles</b>
                </p>
                <p>
                    Conformément au Règlement 2016/679 du Parlement Européen, l’entreprise s’engage à préserver la
                    confidentialité des informations transmises par le client et à réserver l’usage de celles-ci aux
                    seules fins nécessaires à la préparation, la facturation et la livraison de la commande. <br>
                    Conformément aux dispositions de la loi n°78-17 de la Loi Informatique et Libertés, chaque client
                    dispose d’un droit d’interrogation, d’accès, de modification, d’opposition et de rectification sur
                    les données personnelles qui le concerne. Vous pouvez ainsi faire usage de ce droit en faisant votre
                    demande via le formulaire de contact du site. <br>
                    En adhérant aux présentes conditions générales de vente, vous consentez à la collecte et
                    l’utilisation de ces données strictement dans le cadre du présent contrat.<br>
                    Aussi, www.atelier-cremazie.com utilisant le système de Shopify, cette société fournit un
                    cryptage SSL pour la sécurisation des informations clients et des informations bancaires.
                </p>
                <p>
                    <b> Article 12_ Droit applicable et litiges</b>
                </p>
                <p>
                    Toutes les clauses figurant dans les présentes Conditions générales de vente et d’utilisation, ainsi
                    que toutes les opérations de vente et d’achat réalisées sur le présent site sont soumises au droit
                    français. Le litige sera porté devant le Tribunal compétant si aucune solution amiable n’est trouvée
                    entre le vendeur et l’acheteur. <br>
                    Le vendeur se réserve le droit d’annuler ou de refuser une commande en cas de litige avec le client
                    sur une commande antérieure.
                </p>
                <p>
                    L’acheteur est également tenu de lire consciencieusement les descriptifs présents sur chaque article
                    et de tenir compte de leurs particularités notamment pour l’entretien et l’usage de ceux-ci lorsque
                    précisé. Le vendeur ne saurait être tenu pour responsable d’un dommage survenant après un mauvais
                    usage de l’objet ou ayant été expressément déconseillé par le vendeur ou en cas d’entretien ne
                    respectant pas les précautions indiquées sur la fiche descriptive de l’article.
                </p>
            </div>
        </div>
    </div>
</section>