<!-- Boutique Section-->
<section class="page-section" id="boutique">
    <div class="container">
        <!-- Boutique Section Heading-->
        <h1 class="page-section-heading text-center text-uppercase text-secondary mb-0">Bienvenue</h1>
        {{!-- <h5 class=" text-center text-secondary mb-0">Céramique - Art de la table - Objets décoratifs</h5> --}}
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Boutique Grid Items-->
        <div class="container">
            <div class="gallery">
                {{#each medias}}
                <div class="gallery-item" tabindex="0">
                    {{{this.html}}}
                    {{#unless this.isVideo}}
                        <a href="{{this.permalink}}" target="_blank" style="color: white;">
                            <div class="gallery-item-info">
                                <ul>
                                    <li class="gallery-item-likes">
                                        {{{short this.caption 125}}} ... <br><br>lire la suite
                                    </li>
                                </ul>
                            </div>
                        </a>
                    {{#unless}}
                </div>
                {{/each}}
            </div>
        </div>
        {{!-- <div id="productsCollection">
        </div> --}}
    </div>
</section>
<!-- emaux & terre Section-->
<section class="page-section bg-primary text-white mb-0" id="collections">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Collections</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto">
                <p class="lead">
                    <img src="assets/photos_collection/gres-saint-amand.jpg" class="photo_clt" />
                </p>
            </div>
            <div class="col-lg-4 me-auto">
                <p class="profile-bio">
                    <strong class="colect-title">GSA T40 - Grès de Saint-Amand-en-Puisaye</strong>
                    <br><br>
                    La terre naturelle à Grès de St. Amand en Puisaye, le grès du Potier ! est une terre historique
                    dans la région de Saint Amand en Puisaye (dans le Morvan). C'est une terre utilisée par de
                    nombreux potiers depuis 1898. Elle est très carractérisée par ces nuances de
                    couleurs pendant tout le processus de création d'objets céramique. Passant du gris foncé quand
                    elle est chargée en eau puis orange/rose à la première cuisson et termine beige à sa cuisson
                    finale. Il s'agit de ma terre favorite pour son côté historique et son beige assez
                    carractéristique.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ms-auto">
                <p class="profile-bio">
                    <strong>J300-2 - Grès rouge de Bourgogne</strong>
                    <br><br>
                    La terre à grès rouge de Bourgogne est une terre chamottée, cela veut dire qu'elle contient des
                    grains de terre cuite.
                    Cela permet de gagner en resistance sur le produit fini, mais aussi de facilité la création
                    d'objets plus complexes.
                    La chamotte dans la terre donne aussi du carractère sur le rendu final.
                </p>
            </div>
            <div class="col-lg-4 me-auto">
                <p class="lead">
                    <img src="assets/photos_collection/gres-rouge-bourgogne.jpg" class="photo_clt" />
                </p>
            </div>
        </div>
    </div>
</section>

{{#contentFor "pageScripts"}}
<script type="text/javascript" src="js/views/home.js"></script>
{{/contentFor}}