

    <!-- Boutique Section-->
    <section class="page-section" id="boutique">
        <div class="container">
            <!-- Boutique Section Heading-->
            <h1 class="page-section-heading text-center text-uppercase text-secondary mb-0">Vitrine</h1>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Boutique Grid Items-->
            <div id="productsCollection">
            </div>
        </div>
    </section>


    {{#contentFor "pageScripts"}}
    <script type="text/javascript" src="js/views/home.js"></script>
    {{/contentFor}}