    <!-- Boutique Section-->
    <section class="page-section" id="pos">
        <div class="container">
     
            <h4 class="text-center text-secondary mb-0">Produits en vente chez Sandrine Decamp Coiffure</h4>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- Boutique Sandrine-->
            <div id="productsCollectionSandrine">
            </div>
        </div>
    </section>


    
    {{#contentFor "pageScripts"}}
    <script type="text/javascript" src="js/views/pos.js"></script>
    {{/contentFor}}