    <!-- Boutique Section-->
    <section class="page-section" id="pos">
        <div class="container">
     
            <h1 class="text-center text-secondary mb-0">Produits disponibles en vente<br>chez Sandrine Decamp Coiffure</h1>

            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            
            <!-- Boutique Sandrine-->
            <div id="productsCollectionSandrine">
            </div>
            
            <div class="text-center map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2705.907202862869!2d4.808699315605939!3d47.29661301733338!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f2819a02fa15ed%3A0x32cd42e802f4b4bd!2sSANDRINE%20DECAMP%20COIFFURE!5e0!3m2!1sfr!2sfr!4v1622800136515!5m2!1sfr!2sfr"
                 style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </section>


    
    {{#contentFor "pageScripts"}}
    <script type="text/javascript" src="js/views/pos.js"></script>
    {{/contentFor}}