<!-- Boutique Section-->
<section class="page-section" id="pos">
    <div class="container">

        <h1 class="text-center text-secondary mb-0">Tracabilite des matières premières</h1>

        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Boutique Sandrine-->
        <div>
            <p>
                Dans cet onglet vous pourrez tracer la totalité de mes émaux. Vous pourrez ainsi vérifier que toutes vos
                céramiques sont de qualité alimentaire, sans plomb et sans danger pour votre santé.<br>
                Dans le souci d’une transparence totale, je détaille dans le descriptif des céramiques mises en ventes
                sur ce site le n° de l’émail utilisé. Il vous sera ensuite possible d’en retrouver le fournisseur et le
                fabricant dans la liste ci-dessous.<br>
                Merci de votre visite !
            </p>
            <h5>Pâtes céramiques</h5>

            <ul>
                <li><b>GSAT40</b> – Grès de saint Amand en Puisaye – fournisseur Solargil</li>
                <li><b>J300-02</b> – Grès rouge de Bourgogne chamotté – fournisseur Solargil</li>
                <li><b>GBLUK</b> – Grès blanc porcelainique – fournisseur Solargil</li>
            </ul>

            <h5>Liste des émaux ALIMENTAIRES et des fabricants :</h5>

            <ul>
                <li><b>KG737</b> – Lagune (sans Plomb) – fournisseur Céram Décor - fabricant TERRA COLOR</li>
                <li><b>BO9886</b> – Crême tacheté (sans Plomb) – fournisseur Céram Décor - fabricant BOTZ</li>
                <li><b>FDS</b> – Faience vitrifié extra blanche – fournisseur Céram Décor</li>
            </ul>


            <h5>Liste des émaux de fabrication maison :</h5>

            <ul>
                <li><b>JDB144</b> – Turquoise (sans Plomb) -
                    <a href="https://glazy.org/recipes/160542" target="blank">Recette glazy</a>
                </li>
            </ul>
            <p>
                Les émaux maisons sont des émaux que j'ai fabriqué à partir de recette trouvé pendant mes lectures ou
                que j'ai confectionné de A à Z.
                J'utilise Glazy pour procéder au recensement de mes recettes, ainsi ça permet de les partager aux autres
                céramistes et cela permet de vérifier les matières premières utilisés.<br>
                Vous pouvez trouver mon profile sur Glazy à cette adresse :
                <a href="https://glazy.org/u/25345" target="blank">Aurélien Cretaine - Glazy.org</a><br>
                Les émaux ne sont pas testé en laboratoire, néanmoins je procède a des tests des resistances de l'émail
                en les trempant pendant 24h dans du vinaigre, en les passant au micro ondes et au lave vaiselle.
                Ainsi je constate si il y a une déterioration de l'émail (changement de couleur).
            </p>

        </div>
    </div>
</section>